.completo{
    background-color:  #c1c1c1;
    text-align: center;
}

#texto{
    font-size: 20px;
    font-family: Arial;
    margin-left: 25%;
    margin-right: 25%;
    text-align: justify;
}

#calificar{
    width: 4.5cm;
    padding: 3.5px;
    font-size: 18px;
    font-family: cursive;
    margin-block-end: 20px;
}